
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 10pt Segoe UI, sans-serif;
  background: url('../images/background.jpg');
  margin: 40px;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
