
#comment-list > li {
  float: left;
  margin: 0.5%;
  width: 49%;
}

#comment-list > li:first-child {
  padding-left: 0px;
}

#comment-list textarea {
  height: 100px;
}

#comment-list .entry-content {
  white-space: pre-line;
}
