
.entry-list {
  list-style: none;
}

.entry-list > li {
  position: relative;
  padding-top: 30px;
  padding-left: 45px;
  min-height: 100px;
  margin: 0.5% 1.5% 2%;
}

.entry-list h3 + p {
  margin-top: 5px;
}

.entry-author {
  position: absolute;
  color: #444;
  left: -20px;
  top: -15px;
  font-size: 12px;
}

.entry-author img {
  border-radius: 30px;
  max-width: 65px;
  vertical-align: middle;
  transition: 0.33s transform;
  cursor: pointer;
}

.entry-author img:hover {
  transform: scale(1.1);
}

.entry-author h4 {
  margin-left: 10px;
  display: inline;
}

.entry-content {
  padding: 10px 15px;
}

.entry-content p {
  white-space: pre-line;
}
