
h2,
h3 {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  line-height: 1.1em;
}

h4 {
  font-size: inherit;
  font-weight: bold;
}
