
#ideas-list > li {
  width: 32%;
  margin: 0.5%;
  float: left;
}

#ideas-list .entry-content {
  cursor: pointer;
  background-position: 99% 5px;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#ideas-list .entry-content:hover {
  background-image: url('../images/right-arrow.png');
}
