
#ideas-list > li {
  width: 30%;
  float: left;
  position: relative;
  background-color: white;
}

#ideas-list > li:first-child {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  transition: 0.2s background, 0.2s border;
  border: 1px solid transparent;
}

#ideas-list > li:first-child:hover {
  background-color: #eee;
  border-color: #e5e5e5;
}

#ideas-list > li:first-child img {
  display: block;
  margin: auto auto 5px;
  transition: 0.2s opacity;
  height: 85px;
}

#ideas-list > li:first-child:not(:hover) img,
#ideas-list > li:first-child:not(:hover) h3 {
  opacity: 0.5;
}

#ideas-list .entry-content {
  cursor: pointer;
  border-radius: 10px;
}

.entry-data {
  list-style: none;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px dotted #555;
}

.entry-data li {
  background: no-repeat left;
  padding-left: 30px;
}

.entry-data li.comments {
  background-image: url('../images/comments.png');
}

@media (max-width: 800px) {
  #ideas-list > li {
    width: 99%;
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  #ideas-list > li {
    width: 49%;
  }
}

@media (min-width: 1700px) {
  #ideas-list > li {
    width: 24%;
  }
}


/** Votes */
.vote-link {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/hollow-star.png) no-repeat 8px 9px;
  width: 64px;
  color: black;
  text-decoration: none;
  text-align: center;
  font: 22px/72px Open Sans;
}

.vote-link.voted {
  background: url('../images/yellow-star.png');
  line-height: 64px;
}


/** Shadow effects */
#ideas-list > li:before,
#ideas-list > li:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
}

#ideas-list > li:before
{
  transform: rotate(-3deg);
  left: 10px;
}

#ideas-list > li:after
{
  transform: rotate(3deg);
  right: 10px;
}


/** Finished ideas */
.finished {
  background-color: #A1E741;
  background-image: linear-gradient(#A1E741, #7FC521);
}

.finished .entry-content h3 {
  display: inline;
  background: url('../images/mark-sign.png') no-repeat right;
  padding-right: 40px;
}
