
#new-idea {
  width: 480px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: orange;
  padding: 5px 10px;
  border: 0px;
  color: white;
  font-size: 1.4em;
}

input[type="submit"]:disabled {
  background-color: #999;
}

input[type="submit"]:not(:disabled) {
  cursor: pointer;
}

input[type="submit"]:enabled:hover {
  background-color: orangered;
}
