
html,
body {
  height: 100%;
}

#left-side,
#right-side {
  width: 49%;
  height: 100%;
  padding: 40px;
}

#left-side {
  float: left;
}

#right-side {
  float: right;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 5px #999;
  display: none;
}
