
.activity-list {
  list-style: none;
  font-size: 14px;
}

.activity-list > li + li {
  margin-top: 20px;
}

.activity-list .entry-content {
  margin-left: 44px;
  margin-top: -10px;
}

.activity-list .action {
  color: #777;
  font-size: 12px;
}

#activitySection {
  background-color: white;
  border-left: 2px solid #444;
  position: fixed;
  right: 0;
  width: 400px;
}

#activitySection .activity-list {
  padding: 40px;
  overflow-y: auto;
}

#activitySection .activity-list > li {
  margin-bottom: 20px;
}

#activitySection .comment a[href^="#ideas"]:before {
  content: "@";
}
