
#filter-section {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#filter-section ul {
  list-style: none;
  margin-left: 20px;
  display: inline-block;
  border-left: 1px dotted;
  padding-left: 20px;
}

#filter-section ul > li {
  display: inline-block;
}

#filter-section ul > li + li {
  margin-left: 10px;
}

#filter-section ul a {
  padding: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

#filter-section ul > li:not(.active) a:hover {
  text-decoration: underline;
}

#filter-section ul > li.active a {
  background-color: #f70;
  color: white;
}

#searchField {
  display: inline-block;
  width: 140px;
  transition: .33s width;
  padding: 2px 5px;
}

#searchField:focus {
  width: 240px;
}

@media (max-width: 1120px) {
  #filter-section {
    width: 50%;
    text-align: right;
    bottom: 0;
  }

  #filter-section ul {
    display: block;
    margin: 0 0 20px;
    padding: 0;
    border: none;
  }

  #searchField {
    margin-bottom: 20px;
  }
}
