
#ideas-list > li {
  width: 30%;
  float: left;
  position: relative;
  background-color: white;
}

#ideas-list > li:first-child {
  text-align: center;
  padding: 48px 10px;
  background-color: white;
  transition: 0.2s background, 0.2s border;
  border: 1px solid transparent;
  cursor: pointer;
}

#ideas-list > li:first-child:hover {
  background-color: #eee;
  border-color: #e5e5e5;
}

#ideas-list > li:first-child img {
  display: block;
  margin: auto auto 5px;
  transition: 0.2s opacity;
  height: 85px;
}

#ideas-list > li:first-child:not(:hover) img,
#ideas-list > li:first-child:not(:hover) h3 {
  opacity: 0.5;
}

#ideas-list h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

#ideas-list .entry-content {
  cursor: pointer;
  padding: 40px 30px;
  text-align: center;
}

#ideas-list footer {
  padding: 15px 15px 10px;
  background-color: #f0f0f0;
}

.entry-data {
  list-style: none;
  font-size: 12px;
}

.entry-data li {
  background: no-repeat left;
  padding-left: 28px;
  display: inline-block;
}

.entry-data li + li {
  margin-left: 10px;
}

.entry-data a {
  text-decoration: none;
}

.entry-data a:hover {
  text-decoration: underline;
}

.entry-data img {
  max-width: 24px;
  position: absolute;
  margin-left: -28px;
}

.entry-data li.votes img {
  margin-top: -7px;
}

/** Single column layout */
@media (max-width: 800px) {
  #ideas-list > li {
    margin-bottom: 7%;
    width: 100%;
  }
}

/** Two-column layout */
@media (min-width: 801px) and (max-width: 1100px) {
  #ideas-list > li {
    margin: .5% 2% 4%;
    width: 46%;
  }
}

/** Three-column layout */
@media (min-width: 801px) and (max-width: 1550px), (min-width: 1700px) {
  .entry-data li {
    display: block;
    margin: 0 !important;
  }
}

@media (min-width: 1700px) {
  #ideas-list > li {
    width: 22%;
  }
}


/** Votes */
a.vote-action {
  background-color: white;
  border: 2px solid #FF9A58;
  border-radius: 25px;
  text-decoration: none;
  position: relative;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: -20%;
  left: 50%;
  display: block;
  width: 40%;
  text-align: center;
  height: 32px;
  transition: left 0.33s, width 0.4s;
}

a.vote-action .text {
  display: inline-block;
  margin-top: 2px;
}

a.vote-action img {
  display: none;
  width: 24px;
  margin: auto;
}

.voted a.vote-action {
  background-color: #FF9A58;
  text-indent: -9999px;
  width: 50px;
  margin-left: -25px;
  left: 90%;
}

.voted a.vote-action .text {
  display: none;
}

.voted a.vote-action img {
  display: block;
}

a.vote-action:hover {
  background-color: #FF9A58;
  color: white;
}


/** Idea statuses */
.entry-content h3:before {
  font-size: 14px;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 3px;
  vertical-align: middle;
}

.in-progress .entry-content h3:before {
  background-color: #df7df7;
}

.finished .entry-content h3:before {
  background-color: #f90;
}


/** Idea modal */
#ideaModal {
  background-color: #f5f5f5;
  max-width: 800px;
}

#ideaModal .modal-body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ideaModal .modal-body > h2 {
  display: none;
}

#ideaModal .modal-body > div {
  height: 100%;
}

.idea-description-section,
.idea-activity-section {
  float: left;
  width: 50%;
  padding: 40px;
  height: 100%;
  overflow-y: auto;
}

.idea-activity-section {
  background-color: white;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.idea-title {
  line-height: 36px;
}

.idea-activity-section form + .activity-list {
  margin-top: 20px;
}
