
#ideas-list {
  position: relative;
  top: 150px;
  left: 10px;
}

#ideas-list > li {
  width: 30%;
  float: left;
  position: relative;
  background-color: white;
  display: none;
}

#ideas-list > li:first-child {
  display: block;
  text-align: center;
  padding: 48px 10px;
  background-color: white;
  transition: 0.2s background, 0.2s border;
  border: 1px solid transparent;
  cursor: pointer;
}

#ideas-list > li:first-child:hover {
  background-color: #eee;
  border-color: #e5e5e5;
}

#ideas-list > li:first-child img {
  display: block;
  margin: auto auto 5px;
  transition: 0.2s opacity;
  height: 85px;
}

#ideas-list > li:first-child:not(:hover) img,
#ideas-list > li:first-child:not(:hover) h3 {
  opacity: 0.5;
}

#ideas-list h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0 -20px 10px;
  word-wrap: break-word;
}

#ideas-list .entry-content {
  cursor: pointer;
  padding: 40px 30px 30px;
  max-height: 350px; /* When animating a new idea, the content can stretch quite a bit for a moment */
  text-align: center;
}

#ideas-list footer {
  padding: 15px 15px 10px;
  background-color: #ececec;
}

.entry-data {
  list-style: none;
  font-size: 12px;
}

.entry-data li {
  background: no-repeat left;
  padding-left: 28px;
  display: inline-block;
}

.entry-data li + li {
  margin-left: 10px;
}

.entry-data a {
  text-decoration: none;
}

.entry-data a:hover {
  text-decoration: underline;
}

.entry-data img {
  max-width: 24px;
  position: absolute;
  margin-left: -28px;
}

[data-vote-count="0"] .entry-data li.votes {
  display: none;
}

.entry-data li.votes img {
  margin-top: -7px;
}

[data-view-count="0"] .entry-data li.views {
  display: none;
}

.entry-data li.views img {
  margin-top: -4px;
  margin-left: -30px;
}

.entry-data li.sharing img {
  height: 17px;
}

.entry-data li.subscription img {
  height: 20px;
}

/** Single column layout */
@media (max-width: 700px) {
  #ideas-list > li {
    margin-bottom: 20px;
    width: 100%;
  }
}

/** Two-column layout */
@media (min-width: 701px) and (max-width: 1300px) {
  #ideas-list > li {
    margin: .5% 2% 20px;
    width: 46%;
  }
}

/** Three-column layout */
@media (min-width: 1301px) and (max-width: 1550px), (min-width: 1700px) {
  .entry-data li {
    display: block;
    margin: 0 !important;
  }
}

@media (min-width: 1700px) {
  #ideas-list > li {
    width: 22%;
  }
}

/** Responsive */
@media (max-width: 1000px) {
  #ideas-list {
    width: 98% !important;
  }
}


/** Votes */
a.vote-action {
  background-color: white;
  border: 2px solid #FF9A58;
  border-radius: 25px;
  text-decoration: none;
  width: 40%;
  text-align: center;
  height: 32px;
  margin-left: -20%;
  left: 50%;
  transition: left 0.33s, width 0.4s;
}

#ideas-list .vote-action {
  position: relative;
  margin-top: -30px;
  margin-bottom: 10px;
  display: block;
}

a.vote-action .text {
  display: inline-block;
  margin-top: 2px;
}

a.vote-action img {
  display: none;
  width: 24px;
  margin: auto;
}

.voted a.vote-action {
  background-color: #FF9A58;
  text-indent: -9999px;
  width: 50px;
  margin-left: -25px !important;
  left: 90% !important;
}

a.vote-action.waiting {
  background-color: white !important;
}

.voted a.vote-action .text {
  display: none;
}

.voted a.vote-action .thumbs-up {
  display: block;
}

a.vote-action:hover {
  background-color: #FF9A58;
  color: white;
}

.loading-icon,
a.vote-action.waiting .text,
.waiting .thumbs-up {
  display: none;
}

.waiting .loading-icon {
  display: block;
  margin-top: 2px;
}


/** Idea modal */
#ideaModal {
  background-color: #f5f5f5;
  max-width: 800px;
}

#ideaModal .modal-body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ideaModal .modal-body > h2 {
  display: none;
}

#ideaModal .modal-body > div {
  height: 100%;
}

.idea-description-section,
.idea-activity-section {
  float: left;
  width: 50%;
  padding: 40px;
  height: 100%;
  overflow-y: auto;
}

.idea-description-section {
  position: relative;
}

.idea-description-section .vote-action {
  position: absolute;
}

.edit-action {
  width: 34px;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}

.idea-form input,
.idea-form.editing .idea-title,
.idea-form textarea,
.idea-form.editing .idea-description,
.idea-form button,
.idea-form.editing .edit-action {
  display: none;
}

.idea-form.editing input,
.idea-form.editing textarea,
.idea-form.editing button {
  display: block;
}

.idea-activity-section {
  background-color: white;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.idea-title {
  line-height: 36px;
}

.idea-description {
  white-space: pre-line;
  word-wrap: break-word;
}

.idea-activity-section form + .activity-list {
  margin-top: 20px;
}

.status-container {
  font-size: 14px;
  margin-bottom: 10px;
}

.status-container select {
  display: inline-block;
  width: auto;
}
