
#landingModal {
  font-size: 14px;
}

#landingModal h2 {
  margin-left: -2px;
}


/** Features list */
.features-list {
  list-style: none;
  margin: 20px 0 40px -20px;
  display: flex;
  flex-flow: row wrap;
}

.features-list > li {
  margin: 0 0 20px 20px;
  float: left;
  width: 46%;
}

.features-list .feature-icon {
  max-width: 64px;
  display: block;
  margin: 0 auto 10px;
}

.features-list h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

#landingModal .features-list > li {
  width: 30%;
}


/** Buttons */
.modal-window .button-bar {
  text-align: center;
}

.modal-window .button-bar .button {
  border-radius: 0;
  padding: 10px 20px;
  font-size: 20px;
}


/** New release modal */
#newReleaseModal {
  text-align: center;
}

#newReleaseModal .features-list > li {
  align-self: center;
}
