
#landingModal {
  font-size: 14px;
}

#landingModal h2 {
  margin-left: -2px;
}


/** Features list */
#featuresList {
  list-style: none;
  margin: 20px 0 40px;
}

#featuresList > li {
  padding-left: 45px;
  background: no-repeat top left;
}

#featuresList > li + li {
  margin-top: 20px;
}

#featuresList li:first-child {
  background-image: url(../images/light-bulb.svg);
}

#featuresList li:first-child + li {
  background-image: url(../images/rocket.svg);
}

#featuresList li:first-child + li + li {
  background-image: url(../images/people.svg);
}

#featuresList h3 {
  font-size: 24px;
  margin-left: -1px;
}


/** Call-to-action */
#landingModal .button-bar {
  text-align: center;
}

#landingModal .button-bar .button {
  border-radius: 0;
  padding: 10px 20px;
  font-size: 20px;
}
