

/** Back to Intranet link */
a[href="//ee.swedbank.net/"] {
  background-color: #f70;
  background: linear-gradient(90deg, #f70, #fb0);
  margin: -40px -40px 0;
  padding: 5px 20px;
  color: white;
  display: none;  /* Not needed when no official Hackathon is taking place */
  font-size: 14px;
}

a[href="//ee.swedbank.net/"]:before {
  content: "« ";
}

a[href="//ee.swedbank.net/"]:not(:hover) {
  text-decoration: none;
}


/** Header */
header {
  background-color: #444;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header h2 {
  margin-bottom: 0;
}

#userBar {
  padding: 20px 30px;
}

#userName {
  cursor: pointer;
  float: right;
  font-size: 18px;
  margin-right: 18px;
}

#userName:hover {
  text-decoration: underline;
}

#userName .profile-image {
  margin-left: 10px;
  width: 55px;
  height: 55px;
  position: relative;
}

#userName .profile-image:after {
  content: "￬";
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: -19px;
  top: 4px;
}
