
.settings-list > div {
  position: relative;
}

.settings-list > div + div {
  margin-top: 10px;
}

.settings-list dt {
  padding-left: 25px;
}

.settings-list label {
  font-size: 20px;
}

.settings-list dt p {
  font-size: 14px;
  line-height: 16px;
}

.settings-list dd {
  position: absolute;
  left: 0;
  top: 4px;
}

.settings-list + button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}
