
.entry-content h3:before {
  font-size: 14px;
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  margin-top: -5px;
}

#ideas-list > li[data-status="in-backlog"] .entry-content h3:before {
  display: none;
}

#ideas-list > li[data-status="on-hold"] .entry-content h3:before {
  background-color: #DDD;
}

#ideas-list > li[data-status="investigating"] .entry-content h3:before {
  background-color: #BBDBF9;
}

#ideas-list > li[data-status="in-progress"] .entry-content h3:before {
  background-color: #df7df7;
}

#ideas-list > li[data-status="finished"] .entry-content h3:before {
  background-color: #D1ED3E;
}

#ideas-list > li[data-status="cancelled"] .entry-content h3:before {
  background-color: #c83c3c;
  color: white;
}
